#lista-filmes{
    display:flex;
    justify-content:start;
    flex-wrap: wrap;
    padding:2rem;
}

.card-img-topz{
    width: 250px;
    height: 400px;
}

.card{
    margin: 1rem;
    width: 250px;
    height: 500px;
    display: flex;
}

#mostrar-filme{
    display: none;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 10vw;
    left : 35vw;
    border-radius: 3vw;
    padding: 2vw;
    z-index: 1;
}

#btnfecha{
    height: 5vw;
    width: 10vw;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    position: absolute;
    top: 30vw;
    left: 47vw;
    display: none;
    
}

.poster-detalhes{
    width: 250px;
    height: 400px;
    border-radius: 3vw;
    top: -3vw;
    left: -20vw;
}