#lista-filmes{
    display:flex;
    justify-content:start;
    flex-wrap: wrap;
    padding:2rem;
}

.card-img-topz{
    width: 250px;
    height: 400px;
}

.card{
    margin: 1rem;
    width: 250px;
    height: 500px;
}

#mostrar-filme{
    display: none;
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: white;
    top: 10vw;
    left : 35vw;
    border-radius: 3vw;
    border: 1px solid black;
    padding: 2vw;
}